<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/rll.css">
</head>
<body>
{% if message %}
  <div class="alert alert-secondary" role="alert">
    <p>{{ message }}</p>
  </div>
{% endif %}
    <div class="container">
        <h2>Login User</h2>
        <form action=" " method="post">
          <label for="InputEmail">Email address</label>
          <input type="email" name="email" class="form-control" id="InputEmail" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <label for="InputPassword">Password</label>
          <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
